<%- include('./partials/head') %>

<title>Mohamed Jalal Toufik - Visitekaartje - FDND</title>
<link rel="stylesheet" href="/public/style.css">
<link href="https://fonts.googleapis.com/css2?family=Cairo" rel="stylesheet">
</head>

<body>
  <main>
    <section>
      <article>
        <h1> <%= member.name %> <%= member.surname %> </h1> 
        <h2> Student Frontend Developer</h2>
      </article>
      <article>
        <img src="<%= member.avatar %>" alt="profile-jalal">
        <div>
          <h2> About me</h2>
          <h2> Contact</h2>
        </div>
      </article>
    </section>
  </main> 
</body>
</html>

<%- include('./partials/foot') %>
